.layout{
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 98vh;
  object-fit: cover;
  justify-content: center;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
}

.displaymaps{
  width: 85%;
  height: 80%;
  margin: 2%;
}

.lmaps{
  height: 40vh;
  width: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}